<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Letter</title>
	<style>

		header address {
			display: block;
			text-transform: capitalize;
		}

		header address p {
			margin: 2% 0;
		}

		.page {
			background: hsl(200 50% 102%);
			width: 80%;
			margin: 5% auto;
			height: 100%;
			padding: 2% 5% 5% 5%;
		}
	</style>
</head>

<body style="border: 1px solid #ddd; font-weight: 500; font-family: cursive; margin: 0 auto; border-radius: 5px; font-family: monospace; font-size: 15px; padding: 3%;
width: 95%;
">
	<section class="page">
		<h2
			style="text-align: center; text-decoration: underline; text-transform: uppercase; text-underline-offset: 5px; margin-bottom: 5%;">
			Email</h2>
		<header>
			<!-- date -->
			<div>Date:
				<%= date %>
			</div>
			<address style="text-transform: capitalize;">
				<p style="text-transform: lowercase;">
					<%= senderEmail %>
				</p>
				<p>
					<%= senderName %>
				</p>
				<p><%= senderLocation %></p>
			</address>
			<p style="text-transform: capitalize;">Subject: <%= emailSub %>
			</p>
		</header>
		<main>
			<div>Hey Safin,</div>
			<p>
				<%= emailDesc %>
			</p>
		</main>
		<footer>
			<span style="margin-bottom: 2%;
			display: inline-block;">Your Sincerely</span>
			<br>
			<span style="font-family: cursive; color: #1B1B1B; font-weight: 600; text-transform: capitalize;"><%= senderName %></b>
		</footer>
	</section>

</body>

</html>